* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: "Noto Sans KR", sans-serif;
}
body {
	margin: 0;
}
div,
section,
header,
footer,
p,
h1,
h2 {
	box-sizing: border-box;
}
a {
	color: royalblue;
}
img {
	max-width: 100%;
	height: auto;
}
.global-width {
	max-width: 620px;
	margin: 0 auto;
	padding: 0 1rem;
}
.page-title {
	text-align: center;
	margin: 30px 0;
}
.scroll-graphic {
	overflow-x: hidden;
	position: sticky;
	top: 0;
	height: 100vh;
}
.graphic-item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.5s;
	/*willchange는 브라우저에게 바뀔거를 미리알려주는역할*/
}

.visible {
	opacity: 1;
}
.scene-img {
	max-height: 100vh;
}
.scroll-text {
	position: relative;
	padding-bottom: 1px;
}
.step {
	margin-bottom: 60vh;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.8);
}
.bird {
	position: absolute;
	left: 0;
	bottom: 70%;
	width: 100px;
	transform: translateY(-100%);
	transition: 1.5s 0.5s linear;
}
[data-index="5"] .bird {
	left: 30%;
	bottom: 30%;
}
.global-footer {
	padding: 2rem 0;
	text-align: center;
}

@media (max-width: 500px) {
	.bird {
		width: 50px;
	}
}
